{% extends 'base.html.twig' %}

{% block title %}Deathless Record
{% endblock %}

{% block body %}


    
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="text-decoration: none; color: #ff8504  ;">{{ app.user.firstname }}
                                    {{ app.user.lastname }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion / Inscription</a>
                            </li>
                        {% endif %}


                         </li>

                    </ul>

                </div>
            </div>
        </nav>
    
    <header class="masthead">
</header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Présentation</h2><br><br>
            <p class="section-subheading text-muted">La Deathless Record, une association régie par la loi de 1901, a été fondée en 2021 par deux passionnés de musique, à savoir Lorys Ledoux en tant que président et Erwane M'plaiyi en tant qu'artiste et ancien secrétaire. Actuellement, elle compte 8 membres et son objectif principal est de promouvoir la musique de ses deux artistes, R1luv et V2N. En parallèle, elle s'engage également à dynamiser la scène musicale dijonnaise en organisant divers événements tels que le "Spring Concert", une soirée qui vise à soutenir les talents locaux .</p>
        </div>
    </div><br><br><br><br><br>
<div class="tutorial container text-center my-5 ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/_XVyPbTgACE?controls=0" allowfullscreen></iframe>
</div>
<section class="page-section team" id="services" style="width:100%; margin-right:auto; margin-left:auto;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Actualité</h2>
            <h3 class="section-subheading text-muted ">Retrouver l'actualité de la Deathless Record.</h3>

        </div>
        
        <div class="row justify-content-around custom-line text-center">
        
         <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <span class="fa-stack fa-4x">
                    <a href="https://www.instagram.com/p/Cuhd64Kog--/?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="img/concert14juillet.jpg" alt="Concert 14 juillet" class="img-fluid"/></a>
                </span>
                <h4 class="my-3 text-uppercase">Concert le 14 juillet</h4>
                <p class="text-muted text-center-xs">La Deathless Record et R1luv seront à l'univers pour un concert le 14 juillet.</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <span class="fa-stack fa-4x">
                    <a href="#" target="_blank">
                        <a href="https://www.instagram.com/p/CtenIFFoM0C/?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="img/concert21juin.jpeg" alt="fete de la musique" class="img-fluid"></a>
                    </span>
                    <h4 class="my-3 text-uppercase">Fête de la musique</h4>
                    <p class="text-muted text-center-xs">La Deathless Record et R1luv vous donnent RDV place Darcy le 21 juin pour la fête de la musique.</p>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://www.instagram.com/p/CreBZJyouDH/" target="_blank"><img src="img/recrutementDt.jpg" alt="..." class="img-fluid"/></a>
                        </span>
                        <h4 class="my-3 text-uppercase">Recrutement Deathless Record</h4>
                        <p class="text-muted text-center-xs">La Deathless Record recrute de nouveau membre dans l'association.</p>
                    </div>

                </div>
                </div>
                
            </div>
    
</section>

{% endblock %}

