{% extends "@EasyAdmin/page/content.html.twig"%}
{% block content %}

            <h1>Page d'admin DT Record</h1>
            <br><a href="{{ path('main') }}">Retour a la page d'accueil</a>

{% endblock %}
